body{background: rgb(238,238,238)}
.row{width: 101%;}
.box{width: 100%;height: 100%;background: white;padding: 10px;margin: 10px 0;}
.con_1{background: black;width: 100%;height: 300px;color: whitesmoke;padding-top: 100px;}
.box p{isplay: -webkit-box; /*//必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*/
    /*-webkit-box-orient!*//必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*!*/
    text-overflow: ellipsis;/* //可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*/
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*-webkit-line-clamp: 3;*/
    -webkit-box-orient: vertical;}
footer{text-align: center;background: rgb(102,102,102);color:whitesmoke;height: 100px;padding-top: 30px;}
footer a{text-decoration: none;color: whitesmoke;}
@media screen and (max-width: 780px){
    img{width: 145px;height: 110px;}
    .con_1{background: black;width: 101%;height: 100%;color: whitesmoke;padding-top: 100px;}
    .box p{-webkit-line-clamp: 3;}
}